.nav1 {
  margin-top: 15px;
}
.header {
  height: auto;
  padding-top: 15px;
}
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*===== Colores =====*/
  --first-color: #3664f4;
  --dark-color: #070d1f;
  --dark-color-alt: #282b3a;
  --white-color: #e6e7e9;

  /*===== Fuente y tipografia =====*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  /* position: fixed; */
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: rgb(17, 28, 85);
  z-index: var(--z-fixed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  color: var(--white-color);
  width: 55%;
  background: white;
  padding: 0px 14px 0px 9px;
}

.header__toggle {
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
  .nav1 {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-top: 15px;
  }
}
@media screen and (min-width: 769px) {
  .nav1 {
    width: -webkit-fill-available;
  }
}
.nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}

.nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0.25rem;
  margin-bottom: 0.8rem;
  width: 56px;
  height: 56px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}

.nav__img img {
  width: 46px;
}

.nav__name {
  display: block;
  color: var(--white-color);
}

.nav__profesion {
  font-size: var(--small-font-size);
}

.nav__menu {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.nav__item {
  margin: 2.5rem 0;
}

.nav__link {
  color: var(--white-color);
}

.nav__social {
  padding-top: 0.5rem;
}

.nav__social-icon {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-right: 1rem;
}

.nav__social-icon:hover {
  color: var(--first-color);
}

/*Aparecer menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  color: var(--first-color);
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo,
  .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    -ms-grid-columns: (max-content) [3];
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nav__close,
  .nav__profesion {
    display: none;
  }
  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__img img {
    width: 26px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }
  .nav__item {
    margin: 0 0.25rem;
  }
  .nav__link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
  }
  .nav__link:hover {
    background-color: #ffb629;
    color: black;
  }
  .active {
    background-color: #ffb629;
    color: black;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 450px) {
  .mobile_view_nav {
    text-align: center;
    padding: 0px 13px 0px 10px;
  }
}

.logo-container {
  /* padding-left: 125px; */
  /* padding-bottom: 10px; */
  display: flex;

  align-content: center;
}

.header-logo {
  width: 64px;
  height: 64px;
}
.header-font {
  color: #000;
  font-family: Krub;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 135.023%; /* 18.903px */
  padding-top: 10px;
  padding-left: 10px;
}
.dflex {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px;
}

.nav-bar {
  height: 78px;
  background-color: #111c55;
}
.menu-container {
}

.banner {
  max-width: 100%;
  height: 700px;
}
.banner2 {
  max-width: 100%;
  height: 500px;
}

.menu-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-item {
  float: left;
}

.menu-item a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.menu-item a:hover {
  background-color: #ffb629;
}
.align-center {
  align-items: center;
}
.bgwhite {
  background-color: #fff;
}
.pl-4 {
  padding-left: 40px;
}
.what-container {
  display: flex;
  padding: 114px 100px;
  justify-content: center;
}
.caption-text-container {
  height: 23px;
  flex-shrink: 0;
}
.caption-text {
  color: #1c1f35;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 9px;
}
.caption-border {
  background: linear-gradient(
    94deg,
    #ffb629 -1.21%,
    #ffda56 58.66%,
    #ffd7a6 116.84%
  );
  width: 10px;
  flex-shrink: 0;
  height: 23px;
}
.features-header {
  color: #1c1f35;
  font-family: Rubik;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.features-subheader {
  color: #1c1f35;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.line-border {
  width: 1px;
  height: 105px;
  background: #d8d8d8;
}
.details-container {
  flex-direction: column;
  padding-left: 25px;
}
.details-header {
  color: #1c1f35;
  font-family: Rubik;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.detail-font {
  color: #666c89;
  text-align: justify;
  font-family: Krub;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%; /* 18.183px */
}
.flex-dircl {
  flex-direction: column;
}
.whyus-subheader {
  color: #1c1f35;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mt-10 {
  margin-top: 100px !important;
}
.service-img {
  width: 220px;
  height: 300px;
}
.bgservice {
  height: 400px;
  margin-top: -200px !important;
  z-index: -100;
  background: linear-gradient(
    95deg,
    #ffb629 -1.19%,
    #ffda56 57.78%,
    #ffd7a6 115.08%
  );
}

.backgrounAir {
  background: #f2f2f2;
}

.Whyback {
  width: 1920px;
  height: 900px;
  flex-shrink: 0;
}

.ImageAir {
  width: 1000px;
  height: 900px;
}

.WhyConatiner {
  width: 585.277px;
  height: 537.374px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20%;
  flex-shrink: 0;
  margin-top: 25%;
}

.features-subheaderWhy {
  color: #1c1f35;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.cardicon {
  display: flex;
}

.Inline {
  margin-right: 20px;
}

.InlineR {
  margin-left: 0px;
}

.OurGoodness {
  width: 1920px;
  height: 480px;
}

.GoodImg {
  width: 800px;
  height: 400px;
}

.flex {
  margin-left: 41%;
}

.goodText {
  color: #1c1f35;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.CardGood {
  margin-left: 10%;
  flex-direction: row;
}

.goodCard {
  width: 410px;
}

.WhyConatinerUs {
  flex-direction: column;
  align-items: flex-start;

  flex-shrink: 0;
}

.HeadingAboutUs {
  color: #1c1f35;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 3%;
}

.AboutImg {
  width: 1920px;
  height: 480px;
  margin-top: 20%;
}

.USImage {
  margin-top: 5%;
  margin-bottom: 5%;
}

.Us {
}

.ContactUs {
  width: 1532px;
  height: 100%;
  background: #091242;
}

.MainClass {
  width: 1920px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  margin-bottom: 15%;
}
.applyFlex {
  flex-direction: row;
}
.color {
  color: white;
}
.colorText {
  background: #091242;
}
.TextInputFlex {
  flex-direction: row;
  width: 100%;
  gap: 10%;
}
.TextIn {
  width: 365px;
  height: 60px;
  flex-shrink: 0;
  border: 1px solid #4e5683;
}
.ButtonS {
  width: 150px;
}
.form-control::placeholder {
  color: white !important;
}
.Big {
  height: 150px;
}

.banner3 {
  max-width: 100%;
  height: 432px;
}

.FooterImg {
  flex-direction: row;
}

.SizeImg {
  width: 990px;
  height: 590px;
}
img {
  max-width: 100%;
}

.flexwrap {
  flex-wrap: nowrap !important;
}
a {
  text-decoration: none !important;
}
.tariffBtn {
  color: white !important;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .logo-container {
    flex-direction: column;
  }
  img {
    max-height: 50%;
  }
  .bgservice {
    display: none;
  }
  .main-logo {
    width: 90%;
    margin-bottom: 10px;
  }
  .header {
    height: fit-content;
  }
  .header-logo {
    height: 50%;
  }
  /* Additional styles for smaller screens */
  /* You might want to stack elements, hide certain elements, etc. */
}

/* Media query for screens between 768px and 991px (typical tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  img {
    max-height: 80%;
  }
}

/* Media query for screens larger than 992px (typical desktops) */
@media only screen and (min-width: 992px) {
  img {
    max-height: 100%;
  }
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.whatsnew-Item a {
  color: #091242;
  padding: 2px;
}
.modal-content {
  border: 3px solid #091242;
}
